{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/sherlockodeadvancedcontent/js/content.js') }}"></script>
{% endblock %}

{% block sonata_tab_content %}
    <div class="col-md-12">
        {% set groups = admin.formtabs['default'].groups %}
        <div class="row">
            {% for code in groups if admin.formgroups[code] is defined %}
                {% set form_group = admin.formgroups[code] %}
                <div class="{{ form_group.class|default('col-md-12') }}">
                    <div class="{{ form_group.box_class }}">
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                {% if form_group.description %}
                                    <p>{{ form_group.description|trans({}, form_group.translation_domain ?: admin.translationDomain) }}</p>
                                {% endif %}
                                {{ form_row(form.name)}}
                                {% for fieldValue in form.fieldValues %}
                                    <div class="acb-field-value">
                                        {{ form_row(fieldValue)}}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
